

[class^=row] {
    border: 1px dashed red;
}

[class^=col] {
    border: 1px solid rgb(31, 202, 68);
}

#duck {
    max-width: 75px;
}

/* placeholder colore */
.form-control::placeholder{
    color:var(--bs-secondary)
}

/* colonna data prestito invis a SM*/
.table td:nth-child(3n+2) {
    display: none;
}
/* colonna data prestito visibile da MD in po */
@media screen and (min-width:768px) {
    .table td:nth-child(3n+2) {
        display: table-cell;
    }
}